{% load static%}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%} {%endblock%}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
</head>
<body>
    <nav>
        <span class="logo">Griner</span>
        <ul>
            <a href="{% url 'home' %}"><i class="fa-light fa-house"></i><li> Главная </li></a>
            <a href="{% url 'about'%}"><i class="fa-light fa-user"></i><li> про нас </li></a>
            <a href="{% url 'news_home'%}"><i class="fa-light fa-phone"></i><li> новости </li></a>
            <a href=""><i class="fa-light fa-phone"></i><li> контакты </li></a>
            <a href="{% url 'create' %}"><li> <button class="btn btn-info"></button><i class="fa-light fa-phone"></i> добавить </li></a>
        </ul>
    </nav>
    <main>
        {% block content%}
        {%endblock%}
    </main>


</body>
</html>